/*-- -------------------------- -->
<---           Table            -->
<--- -------------------------- -*/
:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #ff6a3e;
  --primaryLight: #ffba43;
  --secondary: #ffba43;
  --secondaryLight: #ffba43;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}
.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}

#editInput {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #ddd;
}




/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #table-1669 {
      padding: var(--sectionPadding);
    }
    #table-1669 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #table-1669 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }
    #table-1669 .cs-table {
      width: 100%;
      border-collapse: collapse;
    }
    #table-1669 .cs-th {
      padding: 0.75rem 1rem;
      box-sizing: border-box;
    }
    #table-1669 .cs-td {
      padding: 0.5rem 1rem;
      box-sizing: border-box;
    }
    #table-1669 .cs-th,
    #table-1669 .cs-td {
      border: 1px solid #ddd;
      text-align: center;
    }
    #table-1669 .cs-color .cs-th:first-child {
      color: #fff;
      background-color: var(--primary);
    }
    #table-1669 .cs-th:first-child,
    #table-1669 .cs-td:first-child {
      position: sticky;
      left: 0;
      z-index: 100;
      /* Make sure it sits above the other cells */
      background-color: #f2f2f2;
      border: 1px solid #ddd;
      text-align: left;
    }
    #table-1669 .cs-th {
      background-color: #f2f2f2;
    }
    #table-1669 .cs-tr {
      color: var(--bodyTextColor);
    }
    #table-1669 .cs-icon {
      height: 1rem;
      width: auto;
    }
  }
  /* Tablet - 600px */
  @media screen and (max-width: 37.5rem) {
    #table-1669 .cs-table {
      display: block;
      overflow-x: auto;
    }
  }
                                  